<!DOCTYPE html>
<html>
<head>
    <title>index</title>
    {% load static %}
</head>
<body style="background-color:#615350;">
    <div style="background-color:#393231;height: 50px;width: 100%;">
        
        <button style="height: 50px;width: 85px;font-size: ;background-color:#5F443E;"><a style="color:#000000" href="{% url 'user_dashboard' %}"><b>Home</b></a></button>
        <button style="height: 50px;width: 85px;font-size: ;background-color:#5F443E;"><a style="color:#000000" href="{% url 'user_dashboard' %}"><b>About us</b></a></button>
        <button style="height: 50px;width: 85px;font-size: ;background-color:#5F443E;"><a style="color:#000000" href="{% url 'user_dashboard' %}"><b>Contact</b></a></button>
        <button style="height: 50px;width: 85px;font-size: ;background-color:#5F443E;"><a style="color:#000000" href="{% url 'user_dashboard' %}"><b>Services</b></a></button>
        <button style="height: 50px;width: 85px;font-size: ;background-color:#5F443E;"><a style="color:#000000" href="{% url 'user_dashboard' %}"><b>Jobs</b></a></button>
        <button style="height: 50px;width: 85px;font-size: ;background-color:#5F443E;"><a style="color:#000000" href="{% url 'user_dashboard' %}"><b>News</b></a></button>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <button style="height: 50px;width: 85px;font-size: ;background-color:#5F443E;"><a style="color:#000000" href="{% url 'user_dashboard' %}"><b>Login</b></a></button>
        <button style="height: 50px;width: 85px;font-size: ;background-color:#5F443E;"><a style="color:#000000" href="{% url 'user_dashboard' %}"><b>Signup</b></a></button>
    
    </div>
</body>
</html>